@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
@import './keyframes.scss';

.click-container {
    color: white;
    
    .clickable-header {
        position: relative;
        top: 0;
        left: 0;
        font-family: 'Fira Sans', sans-serif;
        font-size: 60px;
        transform:translateX(50%);
        transform:translateY(50%);
        color: #d4eaff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        text-transform: uppercase;
        text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
        h1{
            margin-left: 10px;
            margin-right: 10px;
            letter-spacing: 0.2em;         
            
            span{
                animation: animate 3s linear forwards;
                -webkit-animation: animate 3s linear forwards;
                &:nth-child(odd){
                    animation: blink 3s linear infinite ;
                    -webkit-animation: blink 3s linear infinite ;
}
                &:nth-child(even){
                animation: buzz 0.1s linear infinite;
                -webkit-animation: buzz 0.1s linear infinite;
                }
                &:nth-of-type(1){
                    animation: animate 2s linear forwards;
                    -webkit-animation: animate 2s linear forwards;
                   animation-delay: 1s;  
                }
                &:nth-of-type(2){
                    
                   animation-delay: 1.5s;  
                }
                &:nth-of-type(3){
                   animation-delay: 2s;  
                }
                &:nth-of-type(4){
                   animation-delay: 2.5s;  
                }
                &:nth-of-type(5){
                   animation-delay: 3.0s;  
                }
                &:nth-of-type(6){
                   animation-delay: 3.5s;  
                }
                &:nth-of-type(7){
                   animation-delay: 3.75;  
                }
                &:nth-of-type(8){
                   animation-delay: 4.0s;  
                }
                &:nth-of-type(9){
                   animation-delay: 4.5s;  
                }
            }
               
}

            }
        
    

    .login-container {
        position: absolute;
        top: 60%;
        left:32.5%;
        transform: translate(25%, -50%);
        height: 500px;
        width: 500px;
        background: rgba( 23, 12, 138, 0.05 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4.0px );
        -webkit-backdrop-filter: blur( 4.0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        .login-wrapper{          
           display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: column;
           height: inherit;
           .login-content {
               display: flex;
               flex-direction: column;
               align-items: center;
               img {
                   border-radius: 50%;
                   width: 50%;
                   margin-bottom: 15px;
                   border: 2px solid #2695ff;
}
               input {
                   width: 200px;
                   height: 30px;
                   border-radius: 10px;
                   -webkit-border-radius: 10px;
                   -moz-border-radius: 10px;
                   -ms-border-radius: 10px;
                   -o-border-radius: 10px;
}
               .btn {
                background-color: #15ff25;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                font-size: 20px;
                color: white;
                width: 100px ;
                font-weight: 900;
                margin-top: 10px;
}
           }
        }
    }
}

