.nav-container {
    width: 100%;
    background: rgb(31,31,52);
    background: radial-gradient(circle, rgba(31,31,52,1) 0%, rgba(32,37,46,0.91290283203125) 35%, rgba(23,12,138,1) 100%);
    color: #15ff25;
    font-weight: 700;
    -webkit-box-shadow: 5px 5px 15px 5px #15ff25; 
    box-shadow: 5px 5px 15px 5px #15ff25;
    .nav-wrapper {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        .logo-wrapper{
            justify-content: flex-start;
            align-items: center;
            img {
                width: 150px;
                height: 150px;
            }
        }
        .links-wrapper {
            flex-grow: 1;
            align-self: center;
            .nav-links {
                list-style: none;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .links {
                    .links-nav {
                        color: #15ff25;
                        text-decoration: none;
                    }
                }
                
            }
        }
    }
}